shamefully-hoist=true
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
# phantomjs_cdnurl=https://repo.huaweicloud.com/phantomjs/

# legacy-peer-deps=true